# =====================================================================
#  TF2 Zombie Escape Server - Environment Configuration
# =====================================================================

# --- ОБЯЗАТЕЛЬНО ---
# Steam Game Server Token (AppID 440)
# Получить здесь: https://steamcommunity.com/dev/managegameservers
SRCDS_TOKEN=

# --- Сеть ---
SRCDS_PORT=27015
SRCDS_TV_PORT=27020
SRCDS_IP=0.0.0.0

# --- Сервер ---
SRCDS_HOSTNAME=TF2
SRCDS_PW=
SRCDS_RCONPW=
SRCDS_MAXPLAYERS=32
SRCDS_STARTMAP=cp_badlands
SRCDS_REGION=6
# 0=All, 1=US-E, 2=US-W, 3=South America, 4=Asia, 5=Australia, 6=Middle East, 7=Africa, 255=World

# --- Производительность ---
SRCDS_FPSMAX=300
SRCDS_TICKRATE=66

# --- Безопасность ---
SRCDS_SECURED=1
